{% extends 'base.html' %}

{% block title %}Добавьте ваше изображение{% endblock %}

{% block content %}
    <a href="{% url 'TestTask:index' %}">Назад к списку</a>
    <h2>Новое изображение</h2>
    <form method="post" novalidate enctype="multipart/form-data">

        {% csrf_token %}

        <p>Ссылка</p>
        {{url_form.url}}
        <p>Файл</p>
        <input type="file" accept="image/*" name="pic">
        <br>
        <br>
        <button type="submit">Отправить</button><br>
        <br>
        <span>{{error}}</span>
    </form>
{% endblock %}