{% extends 'base.html' %}
{% load static %}

{% block title %}{{pic.name}}{% endblock %}

{% block content %}
    <a href="{% url 'TestTask:index' %}">Назад к списку</a>
    <h2>{{pic.name}}</h2>
    <form method="post" novalidate>

        {% csrf_token %}

        <p>Ширина</p>
        {{form.width}}
        <p>Высота</p>
        {{form.height}}
        <br><br>
        <button type="submit">Отправить</button>
    </form>
    <p>{{error}}</p>
    <img src="{% if pic.pic %}{% static pic.pic %}{% else %}{{pic.url}}{% endif %}" height="{{height}}" width="{{width}}">
{% endblock %}
